@using MvcPoc.Web.Models.SecuredParty
@using MvcPoc.Web.Utils.HtmlExtensions
@model Ucc1SecuredPartyModel

<script type="text/javascript">
    $(document).ready(function() {
        $('#SecuredPartySet_0__SelectedPartyFavoriteId').change(function (e) {
            var selectedId = $('#SecuredPartySet_0__SelectedPartyFavoriteId').val();
            $.get('getFavoriteParty/' + selectedId, function (data, status) {
                if(status=='success')
                    pasteResult(data);
            });
        });
    });
    
    function pasteResult(data) {
        $("input[name='SecuredPartySet[0].FirstName']").val(data.FirstName);
        $("input[name='SecuredPartySet[0].MiddleName']").val(data.MiddleName);
        $("input[name='SecuredPartySet[0].LastName']").val(data.LastName);
        $("input[name='SecuredPartySet[0].Suffix']").val(data.Suffix);
        $("input[name='SecuredPartySet[0].OrganizationName']").val(data.OrganizationName);
    }

</script>

<div class="secured-party-row">
<div class="partial-section" id="party-1">
    <div class="section-header">
        <h6>Secured Party's Exact Full Legal Name</h6>
        <fieldset>
            <legend>Secured Party's Exact Full Legal Name</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.SelectedPartyFavoriteId)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.SelectedPartyFavoriteId, Model.PartyFavoriteItems)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.StateCode)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.StateCode, new {@readonly = "readonly"})
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PartyType)
            </div>
            <div class="editor-field">
                @Html.RadioButtonForEnum(model => model.PartyType)
                @Html.ValidationMessageFor(model => model.PartyType)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.OrganizationName)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.OrganizationName, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.OrganizationName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.FirstName)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.FirstName, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MiddleName)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.MiddleName, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.MiddleName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.LastName)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.LastName, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Suffix)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.Suffix, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.Suffix)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.MailingAddress)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.MailingAddress, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.MailingAddress)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.City, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.City)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.StateCode)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.StateCode, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.StateCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PostalCode)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.PostalCode, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Country)
            </div>
            <div class="editor-field">
                @Html.IndexBasedEditorFor(model => model.Country, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
                @Html.ValidationMessageFor(model => model.Country)
            </div>

            @Html.IndexBasedHiddenFor(model => model.CanShowRemoveParty, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
            @Html.IndexBasedHiddenFor(model => model.IsRemoved, typeof(Ucc1SecuredPartySectionModel), Model.CurrentIndex, "SecuredPartySet")
            @if (Model.CanShowRemoveParty)
            {
                <div class="editor-label">
                    
                </div>
                <div class="editor-field">
                    <input type="button" id="@string.Format("{0}-{1}", "Remove-Party", Model.Id)" value="Remove Secured Party" />
                </div>
            }
        </fieldset>
    </div>
</div>
</div>
<br/>