@model MvcPoc.Web.Models.Debtor.Ucc1DebtorModel


<style type="text/css">
    
    .debtor-section {
        border: 2px solid grey;
        margin: 10px 0 0 0;
    }

    .debtor-form {
        margin: 10px;
    }

    .section-header h6 {
        background-color: grey;
        color: black;
        margin: 0;
        padding: 5px;
    }
</style>
<div class="debtors-section">
    <div class="debtor-section" id="debtor-1">
        <div class="section-header">
            <h6>Debtor's Exact Full Legal Name</h6>
            <fieldset>
                <legend>Debtor's Exact Full Legal Name</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.StateCode)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.StateCode, new {@readonly = "readonly"})
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Suffix)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Suffix)
                    @Html.ValidationMessageFor(model => model.Suffix)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.MiddleName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MiddleName)
                    @Html.ValidationMessageFor(model => model.MiddleName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.SeeInstructions)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.SeeInstructions)
                    @Html.ValidationMessageFor(model => model.SeeInstructions)
                </div>
            </fieldset>
        </div>
    </div>
</div>
<br/>

