@model MvcPoc.Web.Models.Ucc1Model


@{
    ViewBag.Title = "Ucc1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ucc1</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create a UCC 1 Filing</legend>
        
        <div class="editor-label">@Html.DisplayFor(m => m.StateCode)</div>

        @Html.Action("RenderDebtor", new {stateCode = Model.StateCode})

        <p>
            <input type="submit" value="Create Filing" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


