@model MvcPoc.Web.Models.Ucc1Model


@{
    ViewBag.Title = "Ucc1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Ucc1.js")"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            $('#add-additional-debtor').click(function () {
                var currentIndex = $('.debtor-row').length;
                $.ajax({
                    url: 'blankdebtoreditorrow/?currentIndex=' + currentIndex + '&stateCode=@Model.StateCode&uccType=@Model.FilingType',
                    cache: false,
                    success: function (html) { $('#debtor-rows').append(html); }
                });
                return false;
            });
            
            $('#add-additional-secured-party').click(function () {
                var currentIndex = $('.secured-party-row').length;
                $.ajax({
                    url: 'blankpartyeditorrow/?currentIndex=' + currentIndex + '&stateCode=@Model.StateCode&uccType=@Model.FilingType',
                    cache: false,
                    success: function (html) { $('#secured-party-rows').append(html); }
                });
                return false;
            });
        });
    </script>
}

@using (Html.BeginForm("Action", "CpFiling"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create a UCC 1 Filing</legend>
        
        <div class="create-filing-header">
            <h2>Ucc1 Filing</h2>

            <div>@Html.DisplayFor(m => m.StateCode)</div>
        
            <div>@Html.HiddenFor(m => m.StateCode)</div>
            
            <div>@Html.HiddenFor(m => m.FilingType)</div>

        </div>
        
        <div id="debtor-section">
            
            @{ Html.RenderPartial("DebtorSection/_DebtorSection", Model.DebtorSection); }

        </div>

        <div id="secured-party-section">
            
            @{ Html.RenderPartial("SecuredPartySection/_SecuredPartySection", Model.Ucc1SecuredPartySection); }

        </div>
        
        <div id="collateral-section">
            
            @{ Html.RenderAction("RenderCollateralSection", new {statecode = Model.StateCode});}

        </div>

        @if (Model.ShowFloridaSection)
        {
            <div id="florida-section">
                @{ Html.RenderAction("RenderFloridaSection"); }
            </div>
        }


        @Html.Action("RenderMiscellaneous", new {state = Model.StateCode, Filingtype = Model.FilingType})    
           
        @Html.Action("RenderAddendumUcc1", new {state = Model.StateCode, Filingtype = Model.FilingType})

    </fieldset>
    
    <p>
        <input type="submit" value="Create Filing"  name="Ucc1"/>
    </p>
}