@model MvcPoc.Web.Models.Ucc1Model


@{
    ViewBag.Title = "Ucc1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Ucc1.js")"></script>
}

@using (Html.BeginForm("Action", "CpFiling"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create a UCC 1 Filing</legend>
        
        <div class="create-filing-header">
            <h2>Ucc1 Filing</h2>

            <div>@Html.DisplayFor(m => m.StateCode)</div>
        
            <div>@Html.HiddenFor(m => m.StateCode)</div>
            
            <div>@Html.HiddenFor(m => m.FilingType)</div>

        </div>

        @Html.EditorFor(modelitem => Model.Ucc1Debtors)
        
        <input type="submit" value="Add Additional Debtor" name="AddDebtor" class="cancel" />

        @{ Html.RenderAction("RenderSecuredPartySection", new {statecode = Model.StateCode});}
        
        <input type="submit" value="Add Additional Secured Party" name="action" class="cancel" />
        
        @{ Html.RenderAction("RenderCollateralSection", new {statecode = Model.StateCode});}

        @if (Model.ShowFloridaSection)
        {
            Html.RenderAction("RenderFloridaSection");
        }


@Html.Action("RenderMiscellaneous", new {state = Model.StateCode, Filingtype = Model.FilingType})    
           
        @Html.Action("RenderAddendumUcc1", new {state = Model.StateCode, Filingtype = Model.FilingType})

    </fieldset>
    
    <p>
        <input type="submit" value="Create Filing"  name="Ucc1"/>
    </p>
}