@model MvcPoc.Web.Models.Ucc1Model


@{
    ViewBag.Title = "Ucc1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ucc1</h2>

<form method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create a UCC 1 Filing</legend>
        
        <div class="editor-label">@Html.DisplayFor(m => m.StateCode)</div>
        @Html.HiddenFor(m => m.StateCode)

<<<<<<< HEAD
        @Html.Action("RenderDebtor", new {stateCode = Model.StateCode})
=======
       <div class="editor-field">@Html.EditorFor(modelitem => Model.Ucc1Debtors)</div>
        
        <input type="submit" value="Add Debtor" name="action" class="cancel" />

@*<style type="text/css">
    
    .debtors-section {
        border: 2px solid #030303;
        padding-left: 20px;
    }

    .debtor-section {
        border: 2px solid grey;
        margin: 20px 20px 20px 0px;
    }

    .debtor-form {
        margin: 10px;
    }

    .section-header h6 {
        background-color: grey;
        color: black;
        margin: 0;
        padding: 5px;
    }
</style>
<div class="debtors-section">
    <div class="debtor-section" id="debtor-1">
        <div class="section-header">
            <h6>Debtor's full legal name</h6>
            <fieldset>
                <legend>Debtor's full legal name</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.StateCode)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.StateCode, new {@readonly = "readonly"})
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Ucc1Debtor.Suffix)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ucc1Debtor.Suffix)
                    @Html.ValidationMessageFor(model => model.Ucc1Debtor.Suffix)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Ucc1Debtor.Title)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ucc1Debtor.Title)
                    @Html.ValidationMessageFor(model => model.Ucc1Debtor.Title)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Ucc1Debtor.FirstName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ucc1Debtor.FirstName)
                    @Html.ValidationMessageFor(model => model.Ucc1Debtor.FirstName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Ucc1Debtor.MiddleName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ucc1Debtor.MiddleName)
                    @Html.ValidationMessageFor(model => model.Ucc1Debtor.MiddleName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Ucc1Debtor.LastName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ucc1Debtor.LastName)
                    @Html.ValidationMessageFor(model => model.Ucc1Debtor.LastName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Ucc1Debtor.SeeInstructions)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Ucc1Debtor.SeeInstructions)
                    @Html.ValidationMessageFor(model => model.Ucc1Debtor.SeeInstructions)
                </div>
>>>>>>> be2f9bd12bfe1493b75166f619271ab9a211b421

        <p>
            <input type="submit" value="Create Filing" />
        </p>
    </fieldset>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


