@model MvcPoc.Web.Models.Debtor.Ucc1DebtorModel

<fieldset>
    <legend>Ucc1DebtorModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Suffix)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Suffix)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SeeInstructions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SeeInstructions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StateCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StateCode)
    </div>
</fieldset>

