@model MvcPoc.Web.Models.Miscellaneous.Ucc1MiscellaneousModel

<script>
    //$(document).ready(function () {      
    //       $('#OptionalFileReference').keyup(function (e) {
    //        var txtVal = $('#OptionalFileReference').val();
    //        var OptionalFileReferencetextarea = $('#OptionalFileReferencetextarea').val();           
    //        var OptionalFileReferencetext = OptionalFileReferencetextarea + '-' + txtVal;
    //        alert(OptionalFileReferencetext);           
    //        $('#OptionalFileReferencetextarea').val(OptionalFileReferencetext);
    //    });
           
    //});

    $(document).ready(function () {
        $('#OptionalFileReference').keyup(function (e) {
            var txtVal = $('#OptionalFileReference').val();
            var OptionalFileReferencetextarea = $('#OptionalFileReferencetextarea').val() ;
            for (i in txtVal) {
                var OptionalFileReferencetext = '' + txtVal[i];
            }         
            var array =[txtVal,OptionalFileReferencetextarea]
            var a = '' + OptionalFileReferencetextarea + OptionalFileReferencetext;
            $('#OptionalFileReferencetextarea').val(a);
        });
    });

    $(document).ready(function () {
        var isVisible = $('#SeeInstructions').is(':visible');
        if (isVisible) {
            $('#SeeInstructions').keyup(function (e) {
                var txtVal = $('#SeeInstructions').val();
                $('#OptionalFileReferencetextarea').val(txtVal);
            });
        }
        });    
    
</script>

    <div class="partial-sections">
        <div class="partial-section">
            <div class="section-header">
                <h6>Miscellaneous</h6>
                <fieldset>
                    <legend>Ucc1MiscellaneousModelNonRA9</legend>             
                   
                     @Html.Action("RenderMiscellaneousUcc1NonRA9", new {state = Model.StateCode, FilingType = Model.FilingType})
                     @Html.Action("RenderMiscellaneousUcc1RA9", new {state = Model.StateCode, FilingType = Model.FilingType})
                                        
                    <div class="editor-label">
                        @Html.LabelFor(model => model.OptionalFileReference)
                    </div>
                    <div class="editor-field" id="txtoptionalfilereference">
                        @Html.EditorFor(model => model.OptionalFileReference)
                        @Html.ValidationMessageFor(model => model.OptionalFileReference)
                    </div>
                    <div class="editor-label">                        
                    </div>
                    <div class="editor-field">
                        Optional Filer Reference Data(first 70 characters)
                       will appear on the form as:
                    </div>
                    <div class="editor-label">                        
                    </div>
                    <div class="editor-field" id="txtoptionalfilereferencetext">
                        @Html.EditorFor(model => model.OptionalFileReferencetextarea)
                        @Html.ValidationMessageFor(model => model.OptionalFileReferencetextarea)
                    </div>
                      @Html.Action("RenderMiscellaneousUcc1NonRA9misctype", new {state =  Model.StateCode, FilingType = Model.FilingType})
                    
                </fieldset>
            </div>
        </div>
    </div>
@*}*@

