@using MvcPoc.Web.Utils.HtmlExtensions
@model MvcPoc.Web.Models.Addendum.Ucc1AddendumModel

  
<div class="partial-sections">
    <div class="partial-section">
        <div class="section-header">
            <h6>Addendum</h6>
            <fieldset>
                <legend>Ucc1AddendumModel</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.FiledinRealEstate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FiledinRealEstate)
                    @Html.ValidationMessageFor(model => model.FiledinRealEstate)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Addendumfinancingstmt)
                </div>
                  @*TODO: Need to change this radio button list to a check box list
                    with a standard html extension. See HtmlExtensions.cs for more info.*@
                <div class="editor-field">
                    @Html.RadioButtonForEnum(model => model.Addendumfinancingstmt)
                    @Html.ValidationMessageFor(model => model.Addendumfinancingstmt)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.NameAddressofrecordowner)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NameAddressofrecordowner)
                    @Html.ValidationMessageFor(model => model.NameAddressofrecordowner)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.DescriptionofRealEstate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DescriptionofRealEstate)
                    @Html.ValidationMessageFor(model => model.DescriptionofRealEstate)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.AddAttachment)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AddAttachment)
                    @Html.ValidationMessageFor(model => model.AddAttachment)
                    <input type="submit" value="Browse" />
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.AttachmentDescription)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.AttachmentDescription)
                    @Html.ValidationMessageFor(model => model.AttachmentDescription)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Miscellaneous)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Miscellaneous)
                    @Html.ValidationMessageFor(model => model.Miscellaneous)
                </div>
                 
            </fieldset>
        </div>
    </div>
</div>



