@using MvcPoc.Web.Utils.HtmlExtensions
@model MvcPoc.Web.Models.Addendum.Ucc1AddendumModel
   
<div class="partial-sections">
    <div class="partial-section">
        <div class="section-header">
            <h6>Addendum</h6>
            <fieldset>

                <legend>Ucc1AddendumModel</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Miscellaneous)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Miscellaneous)
                    @Html.ValidationMessageFor(model => model.Miscellaneous)
                </div>
                <div class="editor-label">                   
                </div>
                 <div class="editor-field">
                    @Html.RadioButtonForEnum(model => model.AddendumFinancingstatement)
                    @Html.ValidationMessageFor(model => model.AddendumFinancingstatement)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DescriptionofRealEstate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DescriptionofRealEstate)
                    @Html.ValidationMessageFor(model => model.DescriptionofRealEstate)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.UploadAttachment)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UploadAttachment)
                    @Html.ValidationMessageFor(model => model.UploadAttachment)  
                    <input type="submit" value="Browse" />                   
                </div>       
                        
                <div class="editor-label">
                    @Html.LabelFor(model => model.UploadDesc)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.UploadDesc)
                    @Html.ValidationMessageFor(model => model.UploadDesc)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.NameAddressofrecordowner)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.NameAddressofrecordowner)
                    @Html.ValidationMessageFor(model => model.NameAddressofrecordowner)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Debtoris)
                </div>
                <div class="editor-field">
                    @Html.RadioButtonForEnum(model => model.Debtoris)
                    @Html.ValidationMessageFor(model => model.Debtoris)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Addendumalternatefilingtype)
                </div>
                <div class="editor-field">
                    @Html.RadioButtonForEnum(model => model.Addendumalternatefilingtype)
                    @Html.ValidationMessageFor(model => model.Addendumalternatefilingtype)
                </div>
            </fieldset>
        </div>
    </div>
</div>

