@model MvcPoc.Web.Models.Page1Model

@{
    ViewBag.Title = "Filing Center";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create a UCC 1 Filing</legend>
        <div class="editor-label">@Html.LabelFor(m => m.JurisdictionStateCode)</div>

        <div class="editor-field">
            @Html.EditorFor(m => m.JurisdictionStateCode)
            @Html.ValidationMessageFor(m => m.JurisdictionStateCode)
        </div>

        <div class="editor-label">@Html.LabelFor(m => m.BillTo)</div>

        <div class="editor-field">
            @Html.EditorFor(m => m.BillTo)
            @Html.ValidationMessageFor(m => m.BillTo)
        </div>
        
        <div class="editor-label">@Html.LabelFor(m => m.FileFor)</div>

        <div class="editor-field">
            @Html.EditorFor(m => m.FileFor)
            @Html.ValidationMessageFor(m => m.FileFor)
        </div>
        
        <div class="editor-label">@Html.LabelFor(m => m.Rush)</div>

        <div class="editor-field">
            @Html.EditorFor(m => m.Rush)
            @Html.ValidationMessageFor(m => m.Rush)
        </div>
        
        <div class="editor-label">@Html.LabelFor(m => m.UccType)</div>

        <div class="editor-field">
            @Html.EditorFor(m => m.UccType)
            @Html.ValidationMessageFor(m => m.UccType)
        </div>

        <div class="editor-label">@Html.LabelFor(m => m.UccSubType)</div>

        <div class="editor-field">
            @Html.EditorFor(m => m.UccSubType)
            @Html.ValidationMessageFor(m => m.UccSubType)
        </div>

        <p>
            <input type="submit" value="Continue" />
        </p>
    </fieldset>
}